:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-bg-main: #F0F4F8;
    --color-text-main: #222222;
    --color-light-blue: #CCE8FF;
    --color-blue-button: #008BFE;
    --color-blue-button-hover: #006FCB;

    --color-white: #FFFFFF;
    --color-success: #09BB00;
    --color-error: #D00303;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg-main);
    display: grid;
    place-items: center;
    min-height: 100vh;
}